body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #ff5722;
    color: white;
    padding: 20px;
    text-align: center;
}

nav,ul {
    list-style-type: none;
    padding: 0;
}

nav,ul,li {
    display: inline;
    margin: 0 15px;
}

nav,ul,li,a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
}

.productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.producto img {
    width: 100%;
    border-radius: 5px;
}

.producto h3 {
    color: #333;
}

.producto p {
    color: #777;
}

.producto .precio {
    font-size: 1.2em;
    color: black;
    margin: 6px 0;
}

button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e64a19;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}